/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 * {
    box-sizing: inherit;
 }
 
 ul {
    margin: 0;
 }
 /* large containers */

 .main-nav-container {
   background-color: rgb(221, 99, 92);
   font: 300 118.5%/1.65 "National","Helvetica","Arial",sans-serif;
   text-align: left;
   color: #fff;
   height: 80px;
   /* line-height: 8;  */
   /* text-align: center; */
   width: 100%;
   position: relative;
   margin: auto;
 }

 .main-container {
    background-color: #E66760;
    font: 300 118.5%/1.65 "National","Helvetica","Arial",sans-serif;
    text-align: center;
    height: 544px;
}

 .bottom-container {
    background-color: #fff;
    font: 300 118.5%/1.65 "National","Helvetica","Arial",sans-serif;
    text-align: center;
}

/* headers */

 .general-main-header {
    color: #fff;
    font-size: 52px;
 }

 .general-sub-header {
    color: #3A3A3A;
    text-align: center;
 }

 /* nav bar classes */

 /* nav  list  */

 .nav-ul {
   display: inline-block;
 }

 /*logo on left */

 .logo-element {
   margin-right: 4.375rem;
   display: inline-block;
}

 /* linkedin and github links in center */

 .nav-link {
   color: #fff;
   text-decoration: none;
   font-size: 17px;
   /* font-weight: 100; */
   padding: 32px 0;
   margin-right: 1.875rem;
   margin-left: 1.875rem;
 }

 .nav-link:hover {
   color: #F6BB43;
   text-decoration: none;
 }

 /* buttons on right side  */

.signup-btn {
    /* vertical-align: middle; */
    /* height: 2.625rem;
    line-height: 2.47; */
    font-size: 1.0625rem;
    top: 2px;
    text-decoration: none;
    color: #fff;
    background-color: #2685C6;
}

.signup-btn:hover {
   background-color: #99caec;
}

.login-link {
   position: absolute;
   right: 0;
   top: 0;
}


.nav-element {
   display: inline-block;
   /* vertical-align: top; */
   position: relative;
   vertical-align: middle;
   text-decoration: none;
   /* margin-top: 8px;
   margin-bottom: 8px; */
   margin-right: 4.375rem;
}

.nav-element-right {
   display: inline-block;
   /* vertical-align: top; */
   /* position: absolute;
   right: 0; */
   position: relative;
   vertical-align: middle;
   text-decoration: none;
   /* margin-top: 1.25rem; */
   margin-right: 4.375rem;
}




