/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 * {
    box-sizing: inherit;
 }

 div {
    display: block;
 }

 .main-nav-container {
   background-color: rgb(221, 99, 92);
   font: 300 118.5%/1.65 "National","Helvetica","Arial",sans-serif;
   text-align: left;
   color: #fff;
   height: 5rem;
   width: 100%;
   position: relative;
   display: block;
   max-width: 77rem;
   margin: auto;
   padding: 0 1rem;
 }

 .main-container {
    background-color: #E66760;
    font: 300 118.5%/1.65 "National","Helvetica","Arial",sans-serif;
    text-align: center;
    height: 544px;
}

 .bottom-container {
    background-color: #fff;
    font: 300 118.5%/1.65 "National","Helvetica","Arial",sans-serif;
    text-align: center;
}

 .general-main-header {
    color: #fff;
    font-size: 52px;
 }

 .general-sub-header {
    color: #3A3A3A;
    text-align: center;
 }

 .nav-link {
   color: #fff;
   text-decoration: none;
   font-size: 1.0625rem;
   font-weight: 400;
   padding: 1.875rem 0;
   margin-right: 1.875rem;
 }

 .nav-link:hover {
   color: #F6BB43;
   text-decoration: none;
 }

.signup-btn {
    /* vertical-align: middle; */
    /* height: 2.625rem;
    line-height: 2.47; */
    font-size: 1.0625rem;
   
    top: 2px;
    text-decoration: none;
    color: #fff;
    background-color: #2685C6;
}

.signup-btn:hover {
   background-color: #99caec;
}

.nav-element {
   display: inline-block;
   vertical-align: top;
   position: relative;
   text-decoration: none;
   margin-top: 1.0rem;
   margin-right: 4.375rem;
}

.nav-element-right {
   display: inline-block;
   vertical-align: top;
   position: relative;
   right: 0;
   text-decoration: none;
   margin-top: 1.25rem;
   margin-right: 4.375rem;
}

.logo-element {
   margin-right: 4.375rem;
   display: inline-block;
}

ul {
   list-style-type: none;
    padding: 0;
    display: inline-block;
}

