/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 * {
    box-sizing: inherit;
 }
 
 ul {
    margin: 0;
 }
 /* large containers */

 .main-nav-container {
   background-color: rgb(221, 99, 92);
   font: 300 118.5%/1.65 "National","Helvetica","Arial",sans-serif;
   text-align: left;
   color: #fff;
   height: 80px;
   min-width: 800px;
   line-height: 3.5; 
   /* text-align: center; */
   width: 100%;
   position: relative;
   margin: auto;
   /* align-items: center; */
 }

 .main-container {
    background-color: #E66760;
    font: 300 118.5%/1.65 "National","Helvetica","Arial",sans-serif;
    text-align: center;
    height: 480px;
    min-width: 750px;
}

 .bottom-container {
    background-color: #fff;
    font: 300 118.5%/1.65 "National","Helvetica","Arial",sans-serif;
    text-align: center;
    height: 376px;
    min-width: 750px;
}

.bottom-container-div {
   padding: 82px 18px 112px 18px;
   margin: 0 auto;
   text-align: center;
}

.bottom-container div h2 {
   color: #3A3A3A;
   font-size: 2.635rem;
   text-align: center;
   font-weight: 500;
   margin-bottom: 1.375rem;
}

.bottom-container div h2 span {
   color: #61B7D4;
}

.bottom-container div p {
   color: #6E6C6C;
}

/* headers */

 .general-main-header {
    color: #fff;
    font-size: 52px;
    min-width: 750px;
 }

 .general-sub-header {
    color: #3A3A3A;
    text-align: center;
 }

 /* splash buttons */

 .center-button-container {
    margin-top: 2.5rem;
    max-width: 80%;
    margin: 1.5rem auto 0;
 }

 .center-left-button {
    background-color: #69C5E4;
    border-color: #B7E3F2;
    color: #fff;
    padding: 0.5rem 2.5rem;
    text-decoration: none;
    margin: 0.5rem 0.75rem 1rem 0.75rem;
    border: 1px solid #b1dcea;
 }

 .center-left-button:hover {
    -webkit-filter: brightness(110%);
    cursor: pointer;
 }

 .center-right-button {
    background-color: #25D670;
    border-color: #6AF26E;
    color: #fff;
    padding: 0.5rem 2.5rem;
    text-decoration: none;
    margin: 0.5rem 0.75rem 1rem 0.75rem;
    border: 1px solid #6AF26E;
 }

 .center-right-button:hover {
    -webkit-filter: brightness(110%);
    cursor: pointer;
 }

 /* nav bar classes */

 /* nav  list  */

 .nav-ul {
   display: inline-block;
   position: absolute;
 }

 /*logo on left */

 .logo-element {
   margin-right: 4.375rem;
   display: inline-block;
}

.logo {
   height: 80px;
   margin-right: 4.375rem;
   margin-left: 25px;
   display: inline-block;
   color: white;
   filter: invert(100%);
   display: inline-block;
}

 /* linkedin and github links in center */

 .nav-link {
   color: #fff;
   text-decoration: none;
   font-size: 17px;
   /* font-weight: 100; */
   padding: 32px 0;
   /* margin-right: 1.875rem;
   margin-left: 1.875rem; */
 }

 .nav-link:hover {
   color: #F6BB43;
   text-decoration: none;
 }

 /* buttons on right side  */

.signup-btn-container {
   position: absolute;
   right: 5rem;
   top: 0;
   padding: 0 1rem;
   text-align: left;
   min-width: 5rem;
   line-height: 5rem;
   height: 5rem;
 }

.signup-btn {
    vertical-align: middle;
    position: relative;
    height: 2.625rem;
    line-height: 2.47;
    padding: 0 0.75rem;
    font-size: 1.0625rem;
    /* top: 2px; */
    text-decoration: none;
    color: #fff;
    background-color: #2685C6;
    margin: 0.5rem 0.75rem 1rem 0.75rem;
    border: 1px solid #b1dcea;
    display: inline-block;
}

.signup-btn:hover {
   background-color: #99caec;
}

.login-link {
   position: absolute;
   /* vertical-align: middle; */
   text-decoration: none;
   top: 8px;
   right: 24px;
   color: #fff;
   font-size: 17px;
   /* padding: 32px 0; */
}

.login-link:hover {
   color: #F6BB43;
}


.nav-element {
   display: inline-block;
   position: relative;
   vertical-align: middle;
   text-decoration: none;
   margin-left: 25px;
   margin-right: 4.375rem;
}


.nav-element-logo-link {
   text-decoration: none;
   color: #fff;
}

.error {
   font-size: 18px;
   color: #e86f69;
}

/* when signed in  */

.username-link {
   position: absolute;
   text-decoration: none;
   top: 0px;
   right: 0px;
   padding-top: 8px;
   padding-right: 24px;
   padding-bottom: 12px;
   color: #fff;
   font-size: 17px;
}

.dropdown {
   display: none;
   position: absolute;
   background: white;
   cursor: pointer;
   width: 130px;
   top: 80px;
   left: 0px;
   z-index: 3;
   text-align: center;
}

.dropdown li{
   width: 100%;
}

.dropdown-link-item {
   width: 130px;
   /* padding: 10px 30px 10px 10px; */
   text-decoration: none;
   color: #3A3A3A;
}

.dropdown-link-item:hover {
   background-color: rgb(230, 233, 238);
}

.dropdown-item-background:hover {
   background-color: rgb(230, 233, 238);
}

.username-link:hover {
   background-color: #e97c76;
   cursor: pointer;
   padding-left: 10px;
}

.username-link:hover .dropdown {
   display: flex;
   flex-direction: column;
   text-decoration: none;
   color: #3A3A3A;
}

/* new form button */

.form-index-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-sizing: border-box;
   margin: 2rem 2rem;
}

.create-new-form-button {
   padding: 5px 24px;
   font-size: 15px;
   /* height: 40px; */
   justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    border-radius: 2px;
    font-weight: 400;
    font-family: National\ 2,Helvetica Neue,Helvetica,Arial,Hiragino Sans,Hiragino Kaku Gothic Pro,游ゴシック,游ゴシック体,YuGothic,Yu Gothic,ＭＳ ゴシック,MS Gothic,sans-serif;
    text-decoration: none;
    box-shadow: none;
    color: #fff;
    border: 1px solid #2685c6;
    background-color: #2685c6;
    box-sizing: border-box;
}
.create-new-form-button:hover {
   -webkit-filter: brightness(110%);
   cursor: pointer;
}

.bottom-form-container {
   border: 1px black;
   background-color: #f6f7fb;
   padding: 2rem;
   font: 300 118.5%/1.65 "National","Helvetica","Arial",sans-serif;
   min-width: 800px;
   /* display: flex;
   justify-content: space-between;
   align-items: center; */
}

.bottom-form-container li {
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.bottom-form-container div {
   padding: 0 1rem;
}
/* splash image */

.glyptodon-image-container {
   position: absolute;
   right: 60px;
   top: 395px;
}

.glyptodon-image-container img {
   width: 300px;
   transform: rotate(15deg);
}

.cloud-img-container-upper-left {
   width: 110px;
   position: absolute;
   left: 80px;
   top: 110px;
}

.cloud-img-container-upper-right {
   width: 110px;
   position: absolute;
   right: 80px;
   top: 110px;
   transform: scale(-1, 1);
}

.cloud-img-container-lower-left {
   width: 130px;
   position: absolute;
   left: 90px;
   top: 400px;
   transform: scale(-1, 1);

}

.cloud-img-container-lower-right {
   width: 110px;
   position: absolute;
   right: 60px;
   top: 330px;
}

.cloud-img {
   color: white;
   opacity: .25;
}

/* login page */

.login-form-container {
   border: 1px solid #ede8e8;
   background-color: #f8fafb;
   border-radius: 5px;
   width: 480px;
   height: 450px;
   margin: 0 auto;
}

.login-page-button {
   background-color: #25D670;
    border-color: #6AF26E;
    color: #fff;
    padding: 0.5rem 2.5rem;
    text-decoration: none;
    font-size: 17px;
    margin: 0.5rem 0.5rem 1rem 0.75rem;
    border: 1px solid #6AF26E;
    width: 60%;
    cursor: pointer;
   /* font: 300 118.5%/1.65 "National","Helvetica","Arial",sans-serif; */
}

.login-text-box {
   width: 60%;
   padding: 0.5rem;
   font-size: 14px;
   margin: 0.5rem 0.5rem 1rem 0.75rem;
}

/* form builder page  */

.form-builder-container {
   font: 300 118.5%/1.65 "National","Helvetica","Arial",sans-serif;
   margin-right: 50%;
   padding-left: 1rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
   background-color: #fdfce9;
   border: solid 1px #ffe79f;
}

.description-box {
   width: 80%;
   height: 3rem;
}

.name-box {
   width: 80%;
}

/* form show page  */

.form-show-container {
   border: 1px solid black;
   background-color: #f6f7fb;
   padding: 2rem;
   font: 300 118.5%/1.65 "National","Helvetica","Arial",sans-serif;
   min-width: 800px;
   margin: 30px;
}

.question-container {
   margin: 2rem;
   align-items: left;
   text-align: left;
}

.radio-container {
   padding-bottom: 5px;
}

.radio-button {
   padding-bottom: 30px;
}

/* lower splash icons */

.bottom-icons-container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 90px auto 200px;
   max-width: 77rem;
   padding: 10px;
}

.bottom-icons-container div {
   margin: 0;
   padding: 0;
}

.bottom-icon-container {
   width: 190px;
   height: 190px;
   position: relative;
}

.bottom-icon-container h1 {
   color: #61B7D4;
   font-weight: 500;
}

.bottom-icon-arrow-container {
   width: 40px;
   height: 40px;
   position: relative;
}

.icon-img {
   width: 190px;
   height: 190px;
   color: white;
}

.arrow {
   width: 40px;
   height: 40px;
}

.credits-container {
   position: relative;
   display: block;
   width: 100%;
   max-width: 77rem;
   margin: auto;
   padding: 0 1 rem;
   border-top: 1px solid #D2D2D2;
}

.credits-container p {
   text-align: left;
   color: #6E6C6C;
   font-size: 1rem;
}

.div-reset {
   margin: 0;
   padding: 0;
}











